.customRectangle {
  width: 280px;
  height: 300px;
  background-color: #4f4cee;
  border-radius: 5%;
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
  margin: 10px;
}
.customRectangle2 {
  width: 280px;
  height: 300px;
  background-color: #4f4cee;
  border-radius: 5%;
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.customRectangle3 {
  width: 280px;
  height: 300px;
  background-color: #4f4cee;
  border-radius: 5%;
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.customRectangle img {
  width: 80px; /* Ubah ukuran gambar sesuai kebutuhan Anda */
  height: auto;
  margin-bottom: 10px;
}

.customRectangle2 img {
  width: 100px; /* Ubah ukuran gambar sesuai kebutuhan Anda */
  height: auto;
  margin-bottom: 10px;
}

.customRectangle3 img {
  width: 65px; /* Ubah ukuran gambar sesuai kebutuhan Anda */
  height: auto;
  margin-bottom: 10px;
}

.whiteText {
  color: white;
  font-family: "Aleo";
  font-weight: bold;
  font-size: 18px;
}

.yellowText {
  color: white;
  font-family: "Aleo";
  font-weight: 200;
  font-size: 16px;
}
.text-1 {
  color: white;
  font-family: "Aleo";
  font-weight: 200;
  font-size: 16px;
  margin-top: 43px;
}
.heading {
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
  font-family: "Aleo";
  font-weight: bold;
  color: #4f4cee;
}
